#Heading{
  color: rgb(241, 11, 11);
  background-color: gold;
}
.ClassName
{
  color: rgb(82, 29, 206);
}
p{
  align-items: normal;
  color: #000;
}
body
{
  background-color:aliceblue;
}
button{
  size: 5ch;
}